body {
  margin:0px;
  background-image:url('../../images/djc-v1_3/bg.png');
  background-position:left top;
  background-repeat:repeat;
  background-attachment:scroll;
  background-size:149px 139px;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4067 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:242px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4068 {
  position:absolute;
  left:0px;
  top:2737px;
  width:1920px;
  height:242px;
}
#u4069 {
  position:absolute;
  left:2px;
  top:113px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:42px;
  background:inherit;
  background-color:rgba(33, 33, 33, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4070 {
  position:absolute;
  left:0px;
  top:2979px;
  width:1920px;
  height:42px;
}
#u4071 {
  position:absolute;
  left:2px;
  top:13px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#C9C9C9;
}
#u4072 {
  position:absolute;
  left:104px;
  top:2785px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#C9C9C9;
}
#u4073 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u4074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u4074 {
  position:absolute;
  left:104px;
  top:2844px;
  width:155px;
  height:16px;
  color:#E4E4E4;
}
#u4074_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u4074.mouseOver {
}
#u4075 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u4076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u4076 {
  position:absolute;
  left:104px;
  top:2876px;
  width:127px;
  height:16px;
  color:#E4E4E4;
}
#u4076_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u4076.mouseOver {
}
#u4077 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u4078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u4078 {
  position:absolute;
  left:104px;
  top:2908px;
  width:183px;
  height:16px;
  color:#E4E4E4;
}
#u4078_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u4078.mouseOver {
}
#u4079 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u4080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u4080 {
  position:absolute;
  left:366px;
  top:2844px;
  width:155px;
  height:16px;
  color:#E4E4E4;
}
#u4080_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u4080.mouseOver {
}
#u4081 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u4082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u4082 {
  position:absolute;
  left:366px;
  top:2876px;
  width:183px;
  height:16px;
  color:#E4E4E4;
}
#u4082_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u4082.mouseOver {
}
#u4083 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u4084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u4084 {
  position:absolute;
  left:366px;
  top:2908px;
  width:239px;
  height:16px;
  color:#E4E4E4;
}
#u4084_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u4084.mouseOver {
}
#u4085 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  white-space:nowrap;
}
#u4086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#C9C9C9;
}
#u4086 {
  position:absolute;
  left:739px;
  top:2785px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#C9C9C9;
}
#u4087 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u4088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u4088 {
  position:absolute;
  left:739px;
  top:2844px;
  width:57px;
  height:16px;
  color:#E4E4E4;
}
#u4088_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u4088.mouseOver {
}
#u4089 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u4090 {
  position:absolute;
  left:739px;
  top:2876px;
  width:57px;
  height:16px;
  color:#E4E4E4;
}
#u4090_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u4090.mouseOver {
}
#u4091 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u4092 {
  position:absolute;
  left:739px;
  top:2908px;
  width:57px;
  height:16px;
  color:#E4E4E4;
}
#u4092_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u4092.mouseOver {
}
#u4093 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4094_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#C9C9C9;
}
#u4094 {
  position:absolute;
  left:1438px;
  top:2785px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#C9C9C9;
}
#u4095 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u4096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u4096 {
  position:absolute;
  left:896px;
  top:2992px;
  width:129px;
  height:16px;
  color:#E4E4E4;
}
#u4097 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u4098_div {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u4098 {
  position:absolute;
  left:1462px;
  top:2844px;
  width:167px;
  height:16px;
  color:#E4E4E4;
}
#u4099 {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  white-space:nowrap;
}
#u4100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u4100 {
  position:absolute;
  left:1462px;
  top:2876px;
  width:147px;
  height:16px;
  color:#E4E4E4;
}
#u4101 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  white-space:nowrap;
}
#u4102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u4102 {
  position:absolute;
  left:1462px;
  top:2908px;
  width:309px;
  height:16px;
  color:#E4E4E4;
}
#u4103 {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  white-space:nowrap;
}
#u4104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#C9C9C9;
}
#u4104 {
  position:absolute;
  left:1018px;
  top:2785px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#C9C9C9;
}
#u4105 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u4106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u4106 {
  position:absolute;
  left:1018px;
  top:2844px;
  width:80px;
  height:80px;
}
#u4107 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u4108 {
  position:absolute;
  left:1160px;
  top:2844px;
  width:80px;
  height:80px;
}
#u4109 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4110_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u4110 {
  position:absolute;
  left:1052px;
  top:2934px;
  width:33px;
  height:16px;
  color:#E4E4E4;
}
#u4111 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u4112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u4112 {
  position:absolute;
  left:1202px;
  top:2934px;
  width:29px;
  height:16px;
  color:#E4E4E4;
}
#u4113 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:16px;
}
#u4114 {
  position:absolute;
  left:1031px;
  top:2934px;
  width:13px;
  height:16px;
}
#u4115 {
  position:absolute;
  left:2px;
  top:0px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
}
#u4116 {
  position:absolute;
  left:1174px;
  top:2934px;
  width:20px;
  height:16px;
}
#u4117 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u4118 {
  position:absolute;
  left:1438px;
  top:2848px;
  width:14px;
  height:14px;
}
#u4119 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:11px;
}
#u4120 {
  position:absolute;
  left:1438px;
  top:2882px;
  width:14px;
  height:11px;
}
#u4121 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:11px;
}
#u4122 {
  position:absolute;
  left:1438px;
  top:2914px;
  width:14px;
  height:11px;
}
#u4123 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4124 {
  position:absolute;
  left:1203px;
  top:101px;
  visibility:hidden;
}
#u4124_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u4124_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u4126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:568px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u4126 {
  position:absolute;
  left:0px;
  top:0px;
  width:568px;
  height:44px;
}
.u4126_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:568px;
  height:44px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u4126.mouseOver {
}
.u4127 {
  position:absolute;
  left:2px;
  top:14px;
  width:564px;
  visibility:hidden;
  word-wrap:break-word;
}
.u4128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
.u4128 {
  position:absolute;
  left:14px;
  top:11px;
  width:57px;
  height:23px;
  color:#666666;
}
.u4129 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4125-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:568px;
  height:44px;
}
#u4125-2 {
  position:absolute;
  left:0px;
  top:44px;
  width:568px;
  height:44px;
}
#u4125-3 {
  position:absolute;
  left:0px;
  top:88px;
  width:568px;
  height:44px;
}
#u4125-4 {
  position:absolute;
  left:0px;
  top:132px;
  width:568px;
  height:44px;
}
#u4125-5 {
  position:absolute;
  left:0px;
  top:176px;
  width:568px;
  height:44px;
}
#u4125-6 {
  position:absolute;
  left:0px;
  top:220px;
  width:568px;
  height:44px;
}
#u4125-7 {
  position:absolute;
  left:0px;
  top:264px;
  width:568px;
  height:44px;
}
#u4125-8 {
  position:absolute;
  left:0px;
  top:308px;
  width:568px;
  height:44px;
}
#u4125 {
  position:absolute;
  left:0px;
  top:0px;
  width:568px;
  height:352px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u4130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:36px;
  background:inherit;
  background-color:rgba(27, 38, 79, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4130 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:36px;
}
#u4131 {
  position:absolute;
  left:2px;
  top:10px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4132_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4132 {
  position:absolute;
  left:0px;
  top:36px;
  width:1920px;
  height:84px;
  opacity:0.7;
}
#u4133 {
  position:absolute;
  left:2px;
  top:34px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4134 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:35px;
}
#u4135 {
  position:absolute;
  left:173px;
  top:78px;
  width:224px;
  height:35px;
}
#u4136 {
  position:absolute;
  left:2px;
  top:10px;
  width:220px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:79px;
}
#u4137 {
  position:absolute;
  left:84px;
  top:34px;
  width:79px;
  height:79px;
}
#u4138 {
  position:absolute;
  left:2px;
  top:32px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4139 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#2E2C31;
}
#u4140 {
  position:absolute;
  left:803px;
  top:53px;
  width:120px;
  height:50px;
  font-size:16px;
  color:#2E2C31;
}
#u4140_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#2E2C31;
}
#u4140.selected {
}
#u4141 {
  position:absolute;
  left:2px;
  top:16px;
  width:116px;
  word-wrap:break-word;
}
#u4142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#2E2C31;
}
#u4142 {
  position:absolute;
  left:563px;
  top:53px;
  width:120px;
  height:50px;
  font-size:16px;
  color:#2E2C31;
}
#u4142_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#2E2C31;
}
#u4142.selected {
}
#u4143 {
  position:absolute;
  left:2px;
  top:16px;
  width:116px;
  word-wrap:break-word;
}
#u4144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#2E2C31;
}
#u4144 {
  position:absolute;
  left:683px;
  top:53px;
  width:120px;
  height:50px;
  font-size:16px;
  color:#2E2C31;
}
#u4144_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#2E2C31;
}
#u4144.selected {
}
#u4145 {
  position:absolute;
  left:2px;
  top:16px;
  width:116px;
  word-wrap:break-word;
}
#u4146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#2E2C31;
}
#u4146 {
  position:absolute;
  left:923px;
  top:53px;
  width:120px;
  height:50px;
  font-size:16px;
  color:#2E2C31;
}
#u4146_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#2E2C31;
}
#u4146.selected {
}
#u4147 {
  position:absolute;
  left:2px;
  top:16px;
  width:116px;
  word-wrap:break-word;
}
#u4148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#2E2C31;
}
#u4148 {
  position:absolute;
  left:1043px;
  top:53px;
  width:120px;
  height:50px;
  font-size:16px;
  color:#2E2C31;
}
#u4148_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#2E2C31;
}
#u4148.selected {
}
#u4149 {
  position:absolute;
  left:2px;
  top:16px;
  width:116px;
  word-wrap:break-word;
}
#u4150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#2E2C31;
}
#u4150 {
  position:absolute;
  left:443px;
  top:53px;
  width:120px;
  height:50px;
  font-size:16px;
  color:#2E2C31;
}
#u4150_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#2E2C31;
}
#u4150.selected {
}
#u4151 {
  position:absolute;
  left:2px;
  top:16px;
  width:116px;
  word-wrap:break-word;
}
#u4152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:1px;
}
#u4152 {
  position:absolute;
  left:1043px;
  top:101px;
  width:120px;
  height:1px;
}
#u4152_img.selected {
}
#u4152.selected {
}
#u4153 {
  position:absolute;
  left:2px;
  top:-8px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4154 {
  position:absolute;
  left:1772px;
  top:57px;
  width:70px;
  height:44px;
  opacity:0.3;
}
#u4155 {
  position:absolute;
  left:2px;
  top:14px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u4156 {
  position:absolute;
  left:1800px;
  top:72px;
  width:15px;
  height:15px;
  opacity:0.7;
}
#u4157 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4158 {
  position:absolute;
  left:1771px;
  top:57px;
  width:71px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4159_div {
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4159 {
  position:absolute;
  left:1202px;
  top:57px;
  width:570px;
  height:44px;
}
#u4159_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 204, 255, 1);
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(0, 204, 255, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 204, 255, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 204, 255, 0.349019607843137);
}
#u4159.selected {
}
#u4160 {
  position:absolute;
  left:2px;
  top:14px;
  width:566px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4161 {
  position:absolute;
  left:1203px;
  top:58px;
  width:568px;
  height:42px;
}
#u4161_input {
  position:absolute;
  left:0px;
  top:0px;
  width:568px;
  height:42px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u4161_input {
  font-family:'微软雅黑';
}
#u4162 {
  position:absolute;
  left:84px;
  top:34px;
  width:313px;
  height:86px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4163_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:2605px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4163 {
  position:absolute;
  left:360px;
  top:130px;
  width:1200px;
  height:2605px;
  opacity:0.7;
}
#u4164 {
  position:absolute;
  left:2px;
  top:1294px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4165_div {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#233468;
}
#u4165 {
  position:absolute;
  left:414px;
  top:161px;
  width:417px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#233468;
}
#u4166 {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  white-space:nowrap;
}
#u4167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1106px;
  height:2px;
}
#u4167 {
  position:absolute;
  left:414px;
  top:228px;
  width:1105px;
  height:1px;
}
#u4168 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4169_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1086px;
  height:1904px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
}
#u4169 {
  position:absolute;
  left:414px;
  top:274px;
  width:1086px;
  height:1904px;
  opacity:0.7;
  font-size:14px;
  color:#000000;
}
#u4170 {
  position:absolute;
  left:0px;
  top:0px;
  width:1086px;
  word-wrap:break-word;
}
