body {
  margin:0px;
  background-image:url('../../images/djc-v1_3/bg.png');
  background-position:left top;
  background-repeat:repeat;
  background-attachment:scroll;
  background-size:149px 139px;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2340 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2341_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:242px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2341 {
  position:absolute;
  left:0px;
  top:900px;
  width:1920px;
  height:242px;
}
#u2342 {
  position:absolute;
  left:2px;
  top:113px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2343_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:42px;
  background:inherit;
  background-color:rgba(33, 33, 33, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2343 {
  position:absolute;
  left:0px;
  top:1142px;
  width:1920px;
  height:42px;
}
#u2344 {
  position:absolute;
  left:2px;
  top:13px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2345_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#C9C9C9;
}
#u2345 {
  position:absolute;
  left:104px;
  top:948px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#C9C9C9;
}
#u2346 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2347_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u2347 {
  position:absolute;
  left:104px;
  top:1007px;
  width:155px;
  height:16px;
  color:#E4E4E4;
}
#u2347_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u2347.mouseOver {
}
#u2348 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u2349_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u2349 {
  position:absolute;
  left:104px;
  top:1039px;
  width:127px;
  height:16px;
  color:#E4E4E4;
}
#u2349_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u2349.mouseOver {
}
#u2350 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u2351_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u2351 {
  position:absolute;
  left:104px;
  top:1071px;
  width:183px;
  height:16px;
  color:#E4E4E4;
}
#u2351_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u2351.mouseOver {
}
#u2352 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u2353_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u2353 {
  position:absolute;
  left:366px;
  top:1007px;
  width:155px;
  height:16px;
  color:#E4E4E4;
}
#u2353_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u2353.mouseOver {
}
#u2354 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u2355_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u2355 {
  position:absolute;
  left:366px;
  top:1039px;
  width:183px;
  height:16px;
  color:#E4E4E4;
}
#u2355_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u2355.mouseOver {
}
#u2356 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u2357_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u2357 {
  position:absolute;
  left:366px;
  top:1071px;
  width:239px;
  height:16px;
  color:#E4E4E4;
}
#u2357_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u2357.mouseOver {
}
#u2358 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  white-space:nowrap;
}
#u2359_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#C9C9C9;
}
#u2359 {
  position:absolute;
  left:739px;
  top:948px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#C9C9C9;
}
#u2360 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2361_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u2361 {
  position:absolute;
  left:739px;
  top:1007px;
  width:57px;
  height:16px;
  color:#E4E4E4;
}
#u2361_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u2361.mouseOver {
}
#u2362 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2363_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u2363 {
  position:absolute;
  left:739px;
  top:1039px;
  width:57px;
  height:16px;
  color:#E4E4E4;
}
#u2363_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u2363.mouseOver {
}
#u2364 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2365_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u2365 {
  position:absolute;
  left:739px;
  top:1071px;
  width:57px;
  height:16px;
  color:#E4E4E4;
}
#u2365_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u2365.mouseOver {
}
#u2366 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2367_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#C9C9C9;
}
#u2367 {
  position:absolute;
  left:1438px;
  top:948px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#C9C9C9;
}
#u2368 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2369_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u2369 {
  position:absolute;
  left:896px;
  top:1155px;
  width:129px;
  height:16px;
  color:#E4E4E4;
}
#u2370 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u2371_div {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u2371 {
  position:absolute;
  left:1462px;
  top:1007px;
  width:167px;
  height:16px;
  color:#E4E4E4;
}
#u2372 {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  white-space:nowrap;
}
#u2373_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u2373 {
  position:absolute;
  left:1462px;
  top:1039px;
  width:147px;
  height:16px;
  color:#E4E4E4;
}
#u2374 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  white-space:nowrap;
}
#u2375_div {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u2375 {
  position:absolute;
  left:1462px;
  top:1071px;
  width:309px;
  height:16px;
  color:#E4E4E4;
}
#u2376 {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  white-space:nowrap;
}
#u2377_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#C9C9C9;
}
#u2377 {
  position:absolute;
  left:1018px;
  top:948px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#C9C9C9;
}
#u2378 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2379_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u2379 {
  position:absolute;
  left:1018px;
  top:1007px;
  width:80px;
  height:80px;
}
#u2380 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2381_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u2381 {
  position:absolute;
  left:1160px;
  top:1007px;
  width:80px;
  height:80px;
}
#u2382 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2383_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u2383 {
  position:absolute;
  left:1052px;
  top:1097px;
  width:33px;
  height:16px;
  color:#E4E4E4;
}
#u2384 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u2385_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u2385 {
  position:absolute;
  left:1202px;
  top:1097px;
  width:29px;
  height:16px;
  color:#E4E4E4;
}
#u2386 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2387_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:16px;
}
#u2387 {
  position:absolute;
  left:1031px;
  top:1097px;
  width:13px;
  height:16px;
}
#u2388 {
  position:absolute;
  left:2px;
  top:0px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2389_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
}
#u2389 {
  position:absolute;
  left:1174px;
  top:1097px;
  width:20px;
  height:16px;
}
#u2390 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2391_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u2391 {
  position:absolute;
  left:1438px;
  top:1011px;
  width:14px;
  height:14px;
}
#u2392 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2393_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:11px;
}
#u2393 {
  position:absolute;
  left:1438px;
  top:1045px;
  width:14px;
  height:11px;
}
#u2394 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2395_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:11px;
}
#u2395 {
  position:absolute;
  left:1438px;
  top:1077px;
  width:14px;
  height:11px;
}
#u2396 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2397 {
  position:absolute;
  left:0px;
  top:0px;
}
#u2397_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u2397_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2398 {
  position:absolute;
  left:1203px;
  top:101px;
  visibility:hidden;
}
#u2398_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u2398_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u2400_div {
  position:absolute;
  left:0px;
  top:0px;
  width:568px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u2400 {
  position:absolute;
  left:0px;
  top:0px;
  width:568px;
  height:44px;
}
.u2400_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:568px;
  height:44px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u2400.mouseOver {
}
.u2401 {
  position:absolute;
  left:2px;
  top:14px;
  width:564px;
  visibility:hidden;
  word-wrap:break-word;
}
.u2402_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
.u2402 {
  position:absolute;
  left:14px;
  top:11px;
  width:57px;
  height:23px;
  color:#666666;
}
.u2403 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2399-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:568px;
  height:44px;
}
#u2399-2 {
  position:absolute;
  left:0px;
  top:44px;
  width:568px;
  height:44px;
}
#u2399-3 {
  position:absolute;
  left:0px;
  top:88px;
  width:568px;
  height:44px;
}
#u2399-4 {
  position:absolute;
  left:0px;
  top:132px;
  width:568px;
  height:44px;
}
#u2399-5 {
  position:absolute;
  left:0px;
  top:176px;
  width:568px;
  height:44px;
}
#u2399-6 {
  position:absolute;
  left:0px;
  top:220px;
  width:568px;
  height:44px;
}
#u2399-7 {
  position:absolute;
  left:0px;
  top:264px;
  width:568px;
  height:44px;
}
#u2399-8 {
  position:absolute;
  left:0px;
  top:308px;
  width:568px;
  height:44px;
}
#u2399 {
  position:absolute;
  left:0px;
  top:0px;
  width:568px;
  height:352px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u2404_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:36px;
  background:inherit;
  background-color:rgba(27, 38, 79, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2404 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:36px;
}
#u2405 {
  position:absolute;
  left:2px;
  top:10px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2406_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2406 {
  position:absolute;
  left:0px;
  top:36px;
  width:1920px;
  height:84px;
  opacity:0.7;
}
#u2407 {
  position:absolute;
  left:2px;
  top:34px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2408_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00CCCC;
}
#u2408 {
  position:absolute;
  left:1772px;
  top:57px;
  width:70px;
  height:44px;
  opacity:0.5;
  color:#00CCCC;
}
#u2409 {
  position:absolute;
  left:2px;
  top:14px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2410_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u2410 {
  position:absolute;
  left:1800px;
  top:72px;
  width:15px;
  height:15px;
  opacity:0.7;
}
#u2411 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2412 {
  position:absolute;
  left:1772px;
  top:57px;
  width:71px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2413_div {
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2413 {
  position:absolute;
  left:1202px;
  top:57px;
  width:570px;
  height:44px;
}
#u2413_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(153, 153, 153, 0.349019607843137);
}
#u2413.selected {
}
#u2414 {
  position:absolute;
  left:2px;
  top:14px;
  width:566px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2415 {
  position:absolute;
  left:1203px;
  top:58px;
  width:568px;
  height:42px;
}
#u2415_input {
  position:absolute;
  left:0px;
  top:0px;
  width:568px;
  height:42px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u2415_input {
  font-family:'微软雅黑';
}
#u2416 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2417_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#2E2C31;
}
#u2417 {
  position:absolute;
  left:743px;
  top:55px;
  width:100px;
  height:50px;
  font-size:14px;
  color:#2E2C31;
}
#u2417_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#2E2C31;
}
#u2417.selected {
}
#u2418 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u2419_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#2E2C31;
}
#u2419 {
  position:absolute;
  left:543px;
  top:55px;
  width:100px;
  height:50px;
  font-size:14px;
  color:#2E2C31;
}
#u2419_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#2E2C31;
}
#u2419.selected {
}
#u2420 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u2421_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#2E2C31;
}
#u2421 {
  position:absolute;
  left:643px;
  top:55px;
  width:100px;
  height:50px;
  font-size:14px;
  color:#2E2C31;
}
#u2421_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#2E2C31;
}
#u2421.selected {
}
#u2422 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u2423_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#2E2C31;
}
#u2423 {
  position:absolute;
  left:843px;
  top:55px;
  width:100px;
  height:50px;
  font-size:14px;
  color:#2E2C31;
}
#u2423_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#2E2C31;
}
#u2423.selected {
}
#u2424 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u2425_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#2E2C31;
}
#u2425 {
  position:absolute;
  left:943px;
  top:55px;
  width:100px;
  height:50px;
  font-size:14px;
  color:#2E2C31;
}
#u2425_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#2E2C31;
}
#u2425.selected {
}
#u2426 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u2427_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#2E2C31;
}
#u2427 {
  position:absolute;
  left:443px;
  top:55px;
  width:100px;
  height:50px;
  font-size:14px;
  color:#2E2C31;
}
#u2427_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#2E2C31;
}
#u2427.selected {
}
#u2428 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u2429_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:1px;
}
#u2429 {
  position:absolute;
  left:843px;
  top:103px;
  width:100px;
  height:1px;
}
#u2429_img.selected {
}
#u2429.selected {
}
#u2430 {
  position:absolute;
  left:2px;
  top:-8px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2431_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u2431 {
  position:absolute;
  left:1666px;
  top:7px;
  width:57px;
  height:22px;
  color:#E4E4E4;
}
#u2431_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u2431.mouseOver {
}
#u2432 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2433_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u2433 {
  position:absolute;
  left:1760px;
  top:7px;
  width:127px;
  height:22px;
  color:#E4E4E4;
}
#u2433_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u2433.mouseOver {
}
#u2434 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u2435_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:47px;
}
#u2435 {
  position:absolute;
  left:49px;
  top:64px;
  width:300px;
  height:47px;
}
#u2436 {
  position:absolute;
  left:2px;
  top:16px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2437 {
  position:absolute;
  left:49px;
  top:37px;
  width:313px;
  height:84px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
