body {
  margin:0px;
  background-image:url('../../images/djc-v1_2/bg.png');
  background-position:left top;
  background-repeat:repeat;
  background-attachment:scroll;
  background-size:160px 160px;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4132 {
  position:absolute;
  left:279px;
  top:130px;
}
#u4132_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u4132_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u4134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:864px;
  height:600px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u4134 {
  position:absolute;
  left:0px;
  top:0px;
  width:864px;
  height:600px;
  opacity:0.7;
}
.u4135 {
  position:absolute;
  left:2px;
  top:292px;
  width:860px;
  visibility:hidden;
  word-wrap:break-word;
}
.u4136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
.u4136 {
  position:absolute;
  left:30px;
  top:30px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
.u4137 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
.u4138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:804px;
  height:113px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u4138 {
  position:absolute;
  left:30px;
  top:451px;
  width:804px;
  height:113px;
}
.u4139 {
  position:absolute;
  left:0px;
  top:0px;
  width:804px;
  word-wrap:break-word;
}
.u4140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:795px;
  height:322px;
}
.u4140 {
  position:absolute;
  left:30px;
  top:94px;
  width:795px;
  height:322px;
}
.u4141 {
  position:absolute;
  left:2px;
  top:153px;
  width:791px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4133-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:864px;
  height:600px;
}
#u4133 {
  position:absolute;
  left:0px;
  top:0px;
  width:864px;
  height:600px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u4142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:524px;
  height:603px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4142 {
  position:absolute;
  left:1154px;
  top:130px;
  width:524px;
  height:603px;
  opacity:0.7;
}
#u4143 {
  position:absolute;
  left:2px;
  top:294px;
  width:520px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4144 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:242px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4145 {
  position:absolute;
  left:0px;
  top:731px;
  width:1920px;
  height:242px;
}
#u4146 {
  position:absolute;
  left:2px;
  top:113px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:42px;
  background:inherit;
  background-color:rgba(33, 33, 33, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4147 {
  position:absolute;
  left:0px;
  top:973px;
  width:1920px;
  height:42px;
}
#u4148 {
  position:absolute;
  left:2px;
  top:13px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#C9C9C9;
}
#u4149 {
  position:absolute;
  left:104px;
  top:779px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#C9C9C9;
}
#u4150 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u4151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u4151 {
  position:absolute;
  left:104px;
  top:838px;
  width:155px;
  height:16px;
  color:#E4E4E4;
}
#u4151_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u4151.mouseOver {
}
#u4152 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u4153_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u4153 {
  position:absolute;
  left:104px;
  top:870px;
  width:127px;
  height:16px;
  color:#E4E4E4;
}
#u4153_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u4153.mouseOver {
}
#u4154 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u4155_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u4155 {
  position:absolute;
  left:104px;
  top:902px;
  width:183px;
  height:16px;
  color:#E4E4E4;
}
#u4155_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u4155.mouseOver {
}
#u4156 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u4157_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u4157 {
  position:absolute;
  left:366px;
  top:838px;
  width:155px;
  height:16px;
  color:#E4E4E4;
}
#u4157_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u4157.mouseOver {
}
#u4158 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u4159_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u4159 {
  position:absolute;
  left:366px;
  top:870px;
  width:183px;
  height:16px;
  color:#E4E4E4;
}
#u4159_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u4159.mouseOver {
}
#u4160 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u4161_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u4161 {
  position:absolute;
  left:366px;
  top:902px;
  width:239px;
  height:16px;
  color:#E4E4E4;
}
#u4161_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u4161.mouseOver {
}
#u4162 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  white-space:nowrap;
}
#u4163_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#C9C9C9;
}
#u4163 {
  position:absolute;
  left:739px;
  top:779px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#C9C9C9;
}
#u4164 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u4165_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u4165 {
  position:absolute;
  left:739px;
  top:838px;
  width:57px;
  height:16px;
  color:#E4E4E4;
}
#u4165_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u4165.mouseOver {
}
#u4166 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4167_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u4167 {
  position:absolute;
  left:739px;
  top:870px;
  width:57px;
  height:16px;
  color:#E4E4E4;
}
#u4167_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u4167.mouseOver {
}
#u4168 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4169_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u4169 {
  position:absolute;
  left:739px;
  top:902px;
  width:57px;
  height:16px;
  color:#E4E4E4;
}
#u4169_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u4169.mouseOver {
}
#u4170 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4171_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#C9C9C9;
}
#u4171 {
  position:absolute;
  left:1438px;
  top:779px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#C9C9C9;
}
#u4172 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u4173_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u4173 {
  position:absolute;
  left:896px;
  top:986px;
  width:129px;
  height:16px;
  color:#E4E4E4;
}
#u4174 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u4175_div {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u4175 {
  position:absolute;
  left:1462px;
  top:838px;
  width:167px;
  height:16px;
  color:#E4E4E4;
}
#u4176 {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  white-space:nowrap;
}
#u4177_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u4177 {
  position:absolute;
  left:1462px;
  top:870px;
  width:147px;
  height:16px;
  color:#E4E4E4;
}
#u4178 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  white-space:nowrap;
}
#u4179_div {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u4179 {
  position:absolute;
  left:1462px;
  top:902px;
  width:309px;
  height:16px;
  color:#E4E4E4;
}
#u4180 {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  white-space:nowrap;
}
#u4181_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#C9C9C9;
}
#u4181 {
  position:absolute;
  left:1018px;
  top:779px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#C9C9C9;
}
#u4182 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u4183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u4183 {
  position:absolute;
  left:1018px;
  top:838px;
  width:80px;
  height:80px;
}
#u4184 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u4185 {
  position:absolute;
  left:1160px;
  top:838px;
  width:80px;
  height:80px;
}
#u4186 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4187_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u4187 {
  position:absolute;
  left:1052px;
  top:928px;
  width:33px;
  height:16px;
  color:#E4E4E4;
}
#u4188 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u4189_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u4189 {
  position:absolute;
  left:1202px;
  top:928px;
  width:29px;
  height:16px;
  color:#E4E4E4;
}
#u4190 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:16px;
}
#u4191 {
  position:absolute;
  left:1031px;
  top:928px;
  width:13px;
  height:16px;
}
#u4192 {
  position:absolute;
  left:2px;
  top:0px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
}
#u4193 {
  position:absolute;
  left:1174px;
  top:928px;
  width:20px;
  height:16px;
}
#u4194 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u4195 {
  position:absolute;
  left:1438px;
  top:842px;
  width:14px;
  height:14px;
}
#u4196 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:11px;
}
#u4197 {
  position:absolute;
  left:1438px;
  top:876px;
  width:14px;
  height:11px;
}
#u4198 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:11px;
}
#u4199 {
  position:absolute;
  left:1438px;
  top:908px;
  width:14px;
  height:11px;
}
#u4200 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4201_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4201 {
  position:absolute;
  left:857px;
  top:730px;
  width:140px;
  height:40px;
}
#u4202 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u4203_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4203 {
  position:absolute;
  left:1180px;
  top:162px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4204 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u4205 {
  position:absolute;
  left:1203px;
  top:101px;
  visibility:hidden;
}
#u4205_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u4205_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u4207_div {
  position:absolute;
  left:0px;
  top:0px;
  width:568px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u4207 {
  position:absolute;
  left:0px;
  top:0px;
  width:568px;
  height:44px;
}
.u4207_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:568px;
  height:44px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u4207.mouseOver {
}
.u4208 {
  position:absolute;
  left:2px;
  top:14px;
  width:564px;
  visibility:hidden;
  word-wrap:break-word;
}
.u4209_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
.u4209 {
  position:absolute;
  left:14px;
  top:11px;
  width:57px;
  height:23px;
  color:#666666;
}
.u4210 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4206-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:568px;
  height:44px;
}
#u4206-2 {
  position:absolute;
  left:0px;
  top:44px;
  width:568px;
  height:44px;
}
#u4206-3 {
  position:absolute;
  left:0px;
  top:88px;
  width:568px;
  height:44px;
}
#u4206-4 {
  position:absolute;
  left:0px;
  top:132px;
  width:568px;
  height:44px;
}
#u4206-5 {
  position:absolute;
  left:0px;
  top:176px;
  width:568px;
  height:44px;
}
#u4206-6 {
  position:absolute;
  left:0px;
  top:220px;
  width:568px;
  height:44px;
}
#u4206-7 {
  position:absolute;
  left:0px;
  top:264px;
  width:568px;
  height:44px;
}
#u4206-8 {
  position:absolute;
  left:0px;
  top:308px;
  width:568px;
  height:44px;
}
#u4206 {
  position:absolute;
  left:0px;
  top:0px;
  width:568px;
  height:352px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u4211_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:36px;
  background:inherit;
  background-color:rgba(27, 38, 79, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4211 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:36px;
}
#u4212 {
  position:absolute;
  left:2px;
  top:10px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4213_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4213 {
  position:absolute;
  left:0px;
  top:36px;
  width:1920px;
  height:84px;
  opacity:0.7;
}
#u4214 {
  position:absolute;
  left:2px;
  top:34px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4215 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:35px;
}
#u4216 {
  position:absolute;
  left:173px;
  top:78px;
  width:224px;
  height:35px;
}
#u4217 {
  position:absolute;
  left:2px;
  top:10px;
  width:220px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:79px;
}
#u4218 {
  position:absolute;
  left:84px;
  top:34px;
  width:79px;
  height:79px;
}
#u4219 {
  position:absolute;
  left:2px;
  top:32px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4220 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4221_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#2E2C31;
}
#u4221 {
  position:absolute;
  left:803px;
  top:53px;
  width:120px;
  height:50px;
  font-size:16px;
  color:#2E2C31;
}
#u4221_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#2E2C31;
}
#u4221.selected {
}
#u4222 {
  position:absolute;
  left:2px;
  top:16px;
  width:116px;
  word-wrap:break-word;
}
#u4223_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#2E2C31;
}
#u4223 {
  position:absolute;
  left:563px;
  top:53px;
  width:120px;
  height:50px;
  font-size:16px;
  color:#2E2C31;
}
#u4223_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#2E2C31;
}
#u4223.selected {
}
#u4224 {
  position:absolute;
  left:2px;
  top:16px;
  width:116px;
  word-wrap:break-word;
}
#u4225_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#2E2C31;
}
#u4225 {
  position:absolute;
  left:683px;
  top:53px;
  width:120px;
  height:50px;
  font-size:16px;
  color:#2E2C31;
}
#u4225_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#2E2C31;
}
#u4225.selected {
}
#u4226 {
  position:absolute;
  left:2px;
  top:16px;
  width:116px;
  word-wrap:break-word;
}
#u4227_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#2E2C31;
}
#u4227 {
  position:absolute;
  left:923px;
  top:53px;
  width:120px;
  height:50px;
  font-size:16px;
  color:#2E2C31;
}
#u4227_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#2E2C31;
}
#u4227.selected {
}
#u4228 {
  position:absolute;
  left:2px;
  top:16px;
  width:116px;
  word-wrap:break-word;
}
#u4229_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#2E2C31;
}
#u4229 {
  position:absolute;
  left:1043px;
  top:53px;
  width:120px;
  height:50px;
  font-size:16px;
  color:#2E2C31;
}
#u4229_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#2E2C31;
}
#u4229.selected {
}
#u4230 {
  position:absolute;
  left:2px;
  top:16px;
  width:116px;
  word-wrap:break-word;
}
#u4231_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#2E2C31;
}
#u4231 {
  position:absolute;
  left:443px;
  top:53px;
  width:120px;
  height:50px;
  font-size:16px;
  color:#2E2C31;
}
#u4231_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#2E2C31;
}
#u4231.selected {
}
#u4232 {
  position:absolute;
  left:2px;
  top:16px;
  width:116px;
  word-wrap:break-word;
}
#u4233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:1px;
}
#u4233 {
  position:absolute;
  left:443px;
  top:101px;
  width:120px;
  height:1px;
}
#u4233_img.selected {
}
#u4233.selected {
}
#u4234 {
  position:absolute;
  left:2px;
  top:-8px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4235_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4235 {
  position:absolute;
  left:1772px;
  top:57px;
  width:70px;
  height:44px;
  opacity:0.3;
}
#u4236 {
  position:absolute;
  left:2px;
  top:14px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u4237 {
  position:absolute;
  left:1800px;
  top:72px;
  width:15px;
  height:15px;
  opacity:0.7;
}
#u4238 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4239 {
  position:absolute;
  left:1771px;
  top:57px;
  width:71px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4240_div {
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4240 {
  position:absolute;
  left:1202px;
  top:57px;
  width:570px;
  height:44px;
}
#u4240_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 204, 255, 1);
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(0, 204, 255, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 204, 255, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 204, 255, 0.349019607843137);
}
#u4240.selected {
}
#u4241 {
  position:absolute;
  left:2px;
  top:14px;
  width:566px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4242 {
  position:absolute;
  left:1203px;
  top:58px;
  width:568px;
  height:42px;
}
#u4242_input {
  position:absolute;
  left:0px;
  top:0px;
  width:568px;
  height:42px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u4242_input {
  font-family:'微软雅黑';
}
#u4243 {
  position:absolute;
  left:84px;
  top:34px;
  width:313px;
  height:86px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
